canvas {
  border: 5px solid #8aa52d;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  background-color: black;
}
h1{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #8aa52d;
}
