body{
  background-image: url('img/arcade.jpg');
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', cursive;
  margin-top: 50px;
}
canvas {
  border: solid #4D658D;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}
/*h1{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #8aa52d;
}*/
p{
  color: #FF9933;
  font-size: 12px;
}
.container{
  text-align: center;
  width: 500px;
  height: 750px;
  background-color: black;
  border-radius: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#top{
  margin-top: 10px;
  width: 480px;
}
#bottom{
  width: 495px;
}
